.hobby1{
    color: chartreuse;
}

.hobby2{
    color: rebeccapurple;
}

.hobby3{
    color: blue;
}

.abb1{
    font-size: 6px;
}

.abb2{
    font-size: 12px;
}

.abb3{
    font-size: 18px;
}

img{
    width: 240px;
    height: 120px;
}
