.hobby_color_red{
    color: red;
}

.hobby_color_green{
    color: green;
}

.hobby_color_blue{
    color: lightblue;
}

.ability_font_size_small{
    font-size: 12px;
}

.ability_font_size_medium{
    font-size: 16px;
}

.ability3_font_size_large{
    font-size: 20px;
}

img{
    width: 240px;
    height: auto;
}
